@page "/calendar"
@page "/calendar/{Id}"
@using AppNotes.Components.Components
@using AppNotes.Services
@inject IDialogService DialogService
@inject IJSRuntime JsRuntime;
@inject ConexionBBDD _conn
@inject SynchronizationService SynchronizationService
@inject EventService EventService
@inject NavigationManager NavigationManager
@inherits Global

<style>
    .caja{
        padding: 0;
        min-width: 9em;
        margin-top: 1em;
        border: 1px solid #a3a3a3;
        border-radius: 10px;
        cursor: pointer;
        display:inline-block;
    }
    .caja:hover{
        background-color: rgba(145, 145, 145, 0.2);
    }
    .caja p{
        margin:0;
    }

    .mud-card:hover{
        background-color: rgba(145, 145, 145, 0.2);
    }
</style>

<div class="d-flex justify-content-between mb-5 pt-0" style="height:3em;">
    <span class="d-flex">
        <MudIconButton Icon="@Icons.Material.Rounded.ArrowBack" OnClick="PreviousWeek" Size="Size.Small" Style="width:1.5em; height:1.5em;" Class="m-auto" />
        <MudDatePicker @ref="datepicker" @bind-Date="PickerDate" DisableToolbar DisableUnderLine PickerVariant="PickerVariant.Dialog" AutoClose Color="Color.Primary" Style="max-width: 2.5em; max-height:0.1em; margin-left:-0.4em; margin-right: 1em; margin-top:0.9em;">
            <PickerActions>
                <MudButton OnClick="() => SelectDate(DateTime.Today)">Hoy</MudButton>
            </PickerActions>
        </MudDatePicker>
        <MudIconButton Icon="@Icons.Material.Rounded.ArrowForward" OnClick="NextWeek" Size="Size.Small" Style="width:1.5em; height:1.5em;" Class="m-auto"></MudIconButton>

    </span>
    <span class="d-inline-block">
        <MudText Color="Color.Primary" Style="font-size:1.3em; font-weight:bold;" Class="pt-2 pe-4">@($"{SelectedDate.Day} {Months.ElementAt(SelectedDate.Month)}")</MudText>
    </span>
</div>

<div class="row">
    <div class="text-center d-flex p-0 m-0">
        <MudButtonGroup Class="p-0 w-100 d-flex" @bind-Value="@WeekDay" Color="Color.Primary" Variant="MudBlazor.Variant.Filled">
            <MudButton OnClick="() => SelectDate(StartOfWeek.Date)" FullWidth Style="min-width:0.5em;">
                <div>
                    <p class="p-0 m-0">L</p><p class="m-0 p-0">@(StartOfWeek.Date.Day.ToString())</p>
                </div>
            </MudButton>
            <MudButton OnClick="() => SelectDate(StartOfWeek.Date.AddDays(1))" FullWidth Style="min-width:0.5em;">
                <div>
                    <p class="p-0 m-0">M</p><p class="p-0 m-0">@(StartOfWeek.AddDays(1).Date.Day.ToString())</p>
                </div>
            </MudButton>
            <MudButton OnClick="() => SelectDate(StartOfWeek.Date.AddDays(2))" FullWidth Style="min-width:0.5em;">
                <div>
                    <p class="p-0 m-0">X</p><p class="p-0 m-0">@(StartOfWeek.AddDays(2).Date.Day.ToString())</p>
                </div>
            </MudButton>
            <MudButton OnClick="() => SelectDate(StartOfWeek.Date.AddDays(3))" FullWidth Style="min-width:0.5em;">
                <div>
                    <p class="p-0 m-0">J</p><p class="p-0 m-0">@(StartOfWeek.AddDays(3).Date.Day.ToString())</p>
                </div>
            </MudButton>
            <MudButton OnClick="() => SelectDate(StartOfWeek.Date.AddDays(4))" FullWidth Style="min-width:0.5em;">
                <div>
                    <p class="p-0 m-0">V</p><p class="p-0 m-0">@(StartOfWeek.AddDays(4).Date.Day.ToString())</p>
                </div>
            </MudButton>
            <MudButton OnClick="() => SelectDate(StartOfWeek.Date.AddDays(5))" FullWidth Style="min-width:0.5em;">
                <div>
                    <p class="p-0 m-0">S</p><p class="p-0 m-0">@(StartOfWeek.AddDays(5).Date.Day.ToString())</p>
                </div>
            </MudButton>
            <MudButton OnClick="() => SelectDate(StartOfWeek.Date.AddDays(6))" FullWidth Style="min-width:0.5em;">
                <div>
                    <p class="p-0 m-0">D</p><p class="p-0 m-0">@(StartOfWeek.AddDays(6).Date.Day.ToString())</p>
                </div>
            </MudButton>
        </MudButtonGroup>
    </div>
</div>

<div>
    @if (TodayEvents?.Count > 0)
    {
        <MudTimeline TimelinePosition="TimelinePosition.Left" TimelineAlign="TimelineAlign.Default" Style="min-height: 60vh; padding-right:2em;" DisableModifiers>
            @foreach (var evento in TodayEvents)
            {
                <MudTimelineItem TimelineAlign="TimelineAlign.End" Color="evento.Done ? Color.Default : Color.Primary" Variant="MudBlazor.Variant.Filled" Size="Size.Medium">
                   
                    
                    <ItemDot>
                        <MudMenu ActivationEvent="MouseEvent.RightClick">
                            <ActivatorContent>
                                <MudIconButton Icon="@(GetToggledIcon(evento))" Size="Size.Medium" OnClick="() => ToggleEvent(evento)" />
                            </ActivatorContent>
                            <ChildContent>
                                <MudMenuItem OnClick="() => DeleteEvent(evento)" OnTouch="() => DeleteEvent(evento)">Eliminar</MudMenuItem>
                            </ChildContent>
                        </MudMenu>
                    </ItemDot>
                    <ItemContent>
                        <MudCard Outlined Style="cursor:pointer; width:100%;" @onclick="() => OpenEvent(evento)">
                            <MudCardContent>
                                <span class="d-flex" style="max-height: 2em;width:100%;">
                                    <span style="width:fit-content;">
                                        <MudIcon Class="d-inline-block me-2 text-secondary" Icon="@evento.Icon" Size="Size.Small" />
                                    </span>
                                    <span class="w-100 overflow-hidden pe-2">
                                        <MudText Class="d-inline-block">@evento.Text</MudText>
                                    </span>
                                    <span class="p-0 m-0 pb-1" style="width:fit-content;">
                                        @if (evento.Start.Date == SelectedDate && evento.Start != evento.Start.Date)
                                        {
                                            @evento.Start.ToShortTimeString()
                                        }
                                        else
                                        {
                                            <MudIcon Icon="@Icons.Material.Rounded.AccessTime" Size="Size.Small" />
                                        }
                                    </span>
                                </span>
                            </MudCardContent>
                        </MudCard>
                    </ItemContent>
                </MudTimelineItem>
            }
        </MudTimeline>
    }
</div>

<CreateButton/>

@code {

    string token;

    [Parameter]
    public string? Id { get; set; }

    MudDatePicker datepicker;
    private DateTime SelectedDate { get; set; }
    private DateTime StartOfWeek { get; set; }
    private int WeekDay
    {
        get { return (int)SelectedDate.DayOfWeek; }
        set { 
            if (value == 0)
            {
                SelectedDate = StartOfWeek.AddDays(6);
            }
            else
            {
                SelectedDate = StartOfWeek.AddDays(value - 1);
            }
        }
    }
    private DateTime? PickerDate
    {
        get { return SelectedDate; }
        set
        {
            if (value.HasValue)
            {
                SelectDate(value.Value);
            }
        }
    }

    private List<Event> Events { get; set; } = new List<Event>();
    private List<Event> TodayEvents { get; set; }

    protected async override void OnInitialized()
    {
        base.OnInitialized();
        token = await JsRuntime.InvokeAsync<string>("localStorage.getItem", "token");

        StartOfWeek = GetFirstDayOfWeek(DateTime.Today);
        SelectedDate = DateTime.Today;
        if (Id != null)
        {
            SelectedDate = _conn.GetEvent(Id).Start.Date;
        }
        Recargar();
        StateHasChanged();
    }

    private async void Recargar()
    {
        Events = _conn.GetEvents();
        TodayEvents = Events.Where(x => x.Start.Date == SelectedDate).OrderBy(x => x.AllDay).ThenBy(x => x.Start).ToList();
        var passingevents = Events.Where(x => x.End != null && x.Start.Date < SelectedDate.Date && x.End.Value.Date >= SelectedDate.Date).OrderBy(x => x.Start).ToList();
        foreach (var passing in passingevents)
        {
            TodayEvents.Add(passing);
        }
        TodayEvents = TodayEvents.OrderBy(x => x.Done).ToList();
        await SynchronizationService.TrySyncEvents(token);
    }

    private DateTime GetFirstDayOfWeek(DateTime day)
    {
        var diff = (int)day.DayOfWeek - 1;

        if (diff < 0)
            diff += 7;

        return day.AddDays(-diff).Date;
    }

    private void SelectDate(DateTime date)
    {
        datepicker.Close();
        SelectedDate = date.Date;
        StartOfWeek = GetFirstDayOfWeek(SelectedDate.Date);
        Recargar();
        StateHasChanged();
        NavigationManager.NavigateTo("/calendar");
    }

    private void PreviousWeek()
    {
        SelectDate(SelectedDate.AddDays(-7).Date);
    }

    private void NextWeek()
    {
        SelectDate(SelectedDate.AddDays(7).Date);
    }

    private void OpenEvent(Event evento)
    {
        var parameters = new DialogParameters<EditEvent>();
        parameters.Add(x => x.Id, evento.Id);
        MudBlazor.DialogOptions options = new MudBlazor.DialogOptions()
            {
                DisableBackdropClick = true,
                CloseOnEscapeKey = false,
                CloseButton = true,
                MaxWidth = MaxWidth.ExtraSmall,
                FullWidth = true
            };
        DialogService.Show<EditEvent>("Evento", parameters, options);
    }

    private string GetToggledIcon (Event evento)
    {
        if (evento.Done)
        {
            return Icons.Material.Rounded.Close;
        }
        return Icons.Material.Rounded.Check;
    }

    private void ToggleEvent(Event evento)
    {
        evento.Done = !evento.Done;
        evento.Modified = DateTime.Now;
        _conn.Conn.Update(evento);
        Recargar();
    }

    private async void DeleteEvent(Event evento)
    {
        await EventService.DeleteEvent(token, FirebasePath, evento);
        SelectDate(SelectedDate);
    }

}