@page "/createnote"
@using AppNotes.Components.Components
@using MudBlazor.Utilities
@inherits Global

<style>
    .mud-picker-container {
        max-height: 17em;
        max-width: 90vw;
    }

    .mud-picker-color-view-collection {
        max-height: 17em;
        max-width: 90vw;
    }

    .rz-saturation-picker{
        max-width: 8em;
        max-height: 8em;
    }

    .form-control-color{
        padding: 0;
    }
</style>


        @if (loading)
        {
            <div class=" py-4">
                <div class="spinner-border text-dark position-absolute top-50 start-50 translate-middle" role="status">
                    <span class="sr-only"></span>
                </div>
            </div>
        }
        else
        {
            <div class="p-2">
                @* titulo *@
                <div class="row mb-2">
                    <div class="col-11 mx-auto">
                    <MudTextField @bind-Value="noteName" Label="Titulo" Variant="MudBlazor.Variant.Text"></MudTextField>
                    </div>
                </div>
                <div class="row mx-auto">
                    @* fondo *@
                    <div class="col-2 position-relative">
                        <p class="position-absolute bottom-0 mb-2 text-muted">Fondo</p>
                    </div>
                    <div class="col-1 p-0 d-flex position-relative">
                        <input type="color" disabled class="form-control form-control-color position-absolute bottom-0 bg-primary ms-1 mb-2" @bind-value="colorBackground" style="width:2em; border:none;" />
                        <MudColorPicker AdornmentIcon="" @ref="@colorpickerbackground" @bind-Text="colorBackground" style="width:2.5em; color:transparent" ColorPickerView="ColorPickerView.Palette" Palette="CustomPalette" />
                        @* <label class="d-block text-muted m-0 p-0" style="font-size:0.9em;">Icono</label> *@
                    </div>
                    <div class="col-2"></div>
                    @* icono *@
                    <div class="col-2 position-relative">
                        <p class="position-absolute bottom-0 mb-2 text-muted">Icono</p>
                    </div>
                    <div class="col-3 position-relative">
                        <div class="position-absolute bottom-0 d-inline-block" style="width:6em;">
                            <div style="width:2.5em;" class="d-inline-block">
                                <IconPicker @bind-Icon="@icon" />
                            </div>
                            <div style="width:2em;" class="d-inline-block">
                                <MudIconButton OnClick="@(() => icon = "")" Color="Color.Primary" Size="Size.Small" Icon="@Icons.Rounded.Delete" Class="mb-1 ms-1"></MudIconButton>
                            </div>
                        </div>
                    </div>
                    <div class="col-1 p-0 d-flex position-relative">
                        <input type="color" disabled class="form-control form-control-color position-absolute bottom-0 bg-primary ms-1 mb-2" @bind-value="colorIcon" style="width:2em; border:none;" />
                        <MudColorPicker  AdornmentIcon="" @ref="@colorpickericon" @bind-Text="colorIcon" style="width:2.5em; color:transparent" ColorPickerView="ColorPickerView.Palette" Palette="CustomPalette" />
                        @* <label class="d-block text-muted m-0 p-0" style="font-size:0.9em;">Icono</label> *@
                    </div>
                </div>


                @* <div class="row">
                    
                    
                    <div class="col-2 p-0">
                        <div class="position-relative">
                            <input type="color" disabled tabindex="-1" class="form-control form-control-color position-absolute bottom-0 bg-primary ms-1 mb-1" readonly="true" @bind-value="colorBackground" style="width:2em; border:none;" />
                            <MudColorPicker AdornmentIcon="" @ref="@colorpickerbackground" @bind-Text="colorBackground" style="width:2.5em; color:transparent" Label="Fondo" ColorPickerView="ColorPickerView.Palette" Palette="CustomPalette" />
                        </div>
                    </div>
                </div> *@
                
                @* <MudColorPicker Class="col-3" @bind-Text="color" Label="Fondo" ColorPickerView="ColorPickerView.Palette" Palette="CustomPalette" /> *@
                
                
                
                <p>etiquetas</p>

                <div class="row">
                    <MudButton Class="mx-auto col-3" Color="Color.Primary">Crear</MudButton>
                </div>
                


                <MudIcon Icon="@icon"></MudIcon>
            </div>
        }


@code {
    private string noteName { get; set; }
    private string colorIcon { get; set; } = "#000000";
    private string colorBackground { get; set; } = "#ffffff";
    public string icon { get; set; } = "";
    MudColorPicker colorpickericon;
    MudColorPicker colorpickerbackground;

    private bool loading = false;
}
