@page "/editnote"
@page "/editnote/{Id}"
@using AppNotes.Components.Layout
@using AppNotes.Components.Components
@using AppNotes.Services
@using Firebase.Database
@using Firebase.Database.Query
@inject ConexionBBDD _conn
@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager
@inject IDialogService DialogService
@inject SynchronizationService SynchronizationService
@inject LibraryService LibraryService
@inherits Global
@layout MainLayout

@if (Note != null)
{
    <style>
        .mud-picker-container {
            max-width: 70vw;
            overflow: auto;
        }

        .mud-switch {
            margin: 0;
        }

        .rz-html-editor {
            border: none;
        }

        .rz-html-editor:focus-within {
            outline-color: #a8a8a8;
        }

        .rz-html-editor-toolbar {
            background-color: inherit;
            color: inherit;
            padding: 0.5em;
        }

        .rz-html-editor-button {
            background-color: inherit;
            color: inherit;
        }

        .rz-html-editor-content {
            background-color: inherit;
            color: inherit;
            padding: 1em;
        }

        .rz-html-editor-dropdown-items {
            background-color: inherit;
            color: inherit;
        }

        .rz-html-editor-dropdown-item {
            background-color: inherit;
            color: inherit;
            font-size: 15px !important;
            font-size: medium !important;
        }

        .rz-html-editor-content {
            background-color: @Note.BackgroundColor.ToString();
            color: @Note.TextColor.ToString();
        }
    </style>

    <div class="row p-0 justify-content-between">
        <div class="col" style="max-width:3em; padding:0; padding-top:0.6em; margin:0; padding-right:4em;">
            <MudSwitch @bind-Value="@edicion" ThumbIcon="@(edicion==true ? Icons.Material.Rounded.Edit : Icons.Material.Rounded.Visibility)"
                       ThumbIconColor="Color.Primary" />
        </div>
        <div class="col p-0 m-0 d-flex" style="max-width:30em;">
            @if (CanChangePage)
            {
                <MudIconButton OnClick="() => ChangePage(true)" Icon="@Icons.Material.Rounded.ArrowBackIos" Size="Size.Small" Style="height:1.3em; margin-top:0.9em;" Class="ms-3" />
            }
            <MudTextField @bind-Value="Name" Immediate Placeholder="Título" Style="height:1.5em; padding-bottom:1em;" Class="mx-1" Disabled="!edicion" />
            @if (CanChangePage)
            {
                <MudIconButton OnClick="() => ChangePage(false)" Icon="@Icons.Material.Rounded.ArrowForwardIos" Size="Size.Small" Style="height:1.3em; margin-top:0.9em;" />
            }
        </div>
        <div class="col-3 d-flex justify-content-end m-0 p-0" style="max-width:3em;">
            <MudMenu @ref="menu" Icon="@Icons.Material.Rounded.MoreVert" Color="Color.Inherit" AnchorOrigin="Origin.TopRight" TransformOrigin="Origin.TopRight">
                <MudMenuItem AutoClose=false Style="height:3.5em; overflow-hidden" OnClick="@(() => pickerfondo.ToggleOpen())">
                    <div class="p-0 d-flex position-relative" style="height:3.5em; font-size: 0.9em;">
                        <span class="pt-4">Fondo</span>
                        @if(!Note.BackgroundColor.Equals("inherit"))
                        {
                            <MudIconButton Class="position-absolute bottom-0 end-0" Style="margin-right:2.1em; margin-bottom:0.7em;" Size="Size.Small" Icon="@Icons.Material.Rounded.Delete" OnClick="@(() => BackgroundColor = "inherit")"></MudIconButton>
                            <input @bind-value="Note.BackgroundColor" type="color" disabled class="form-control form-control-color position-absolute bottom-0 end-0 mb-2" style="width:2.5em; border:none; background-color:inherit;" />
                        }
                        <MudColorPicker @ref="pickerfondo" @bind-Text="BackgroundColor" ReadOnly AdornmentIcon="" Class="position-absolute bottom-0 end-0" style="width:2.5em; color:transparent; margin-bottom:-5px;" ColorPickerView="ColorPickerView.GridCompact" PickerVariant="PickerVariant.Dialog" />
                    </div>
                </MudMenuItem>
                <MudMenuItem AutoClose=false Style="height:3.5em; overflow-hidden" OnClick="@(() => pickertexto.ToggleOpen())">
                    <div class="p-0 d-flex position-relative" style="height:3.5em; font-size: 0.9em;">
                        <span class="pt-4">Texto</span>
                        @if (!Note.TextColor.Equals("inherit"))
                        {
                            <MudIconButton Class="position-absolute bottom-0 end-0" Style="margin-right:2.1em; margin-bottom:0.7em;" Size="Size.Small" Icon="@Icons.Material.Rounded.Delete" OnClick="@(() => TextColor = "inherit")"></MudIconButton>
                            <input @bind-value="Note.TextColor" type="color" disabled class="form-control form-control-color position-absolute bottom-0 end-0 mb-2" style="width:2.5em; border:none; background-color:inherit;" />
                        }
                        <MudColorPicker @ref="pickertexto" @bind-Text="TextColor" ReadOnly AdornmentIcon="" Class="position-absolute bottom-0 end-0" style="width:2.5em; color:transparent; margin-bottom:-5px;" ColorPickerView="ColorPickerView.GridCompact" PickerVariant="PickerVariant.Dialog" />
                    </div>
                </MudMenuItem>
                <MudMenuItem Style="height:3.5em; padding-top:0; padding-bottom:0;" OnClick="@(() => Favorite = !Favorite)" OnTouch="@(() => Favorite = !Favorite)">
                    <div class="p-0 pt-1 d-flex position-relative" style="height:3.5em; font-size: 0.9em; min-width:9em;">
                        <span class="pt-3">Destacado</span>
                        <MudIcon Icon="@(Favorite ? Icons.Material.Rounded.Star : Icons.Material.Rounded.StarOutline)" Color="@Color.Primary" Class="ms-2 mt-2 me-2 position-absolute end-0" Size="Size.Medium" />
                    </div>
                </MudMenuItem>
                @if (!string.IsNullOrWhiteSpace(Note.Notebook))
                {
                    <MudMenuItem Style="height:3.5em; padding-top:0; padding-bottom:0;" OnClick="@(() => Bookmark = !Bookmark)" OnTouch="@(() => Bookmark = !Bookmark)">
                        <div class="p-0 pt-1 d-flex position-relative" style="height:3em; font-size: 0.9em; min-width:10em;">
                            <span class="pt-2 pb-1">Marcapáginas</span>
                            <MudIcon Icon="@(Bookmark ? Icons.Material.Rounded.Bookmark : Icons.Material.Rounded.BookmarkBorder)" Color="@Color.Primary" Class="ms-2 mt-2 me-2 position-absolute end-0" Size="Size.Medium" />
                        </div>
                    </MudMenuItem>

                    <MudMenuItem Style="height:3.5em; padding-top:0; padding-bottom:0;" OnClick="OpenNotebook" OnTouch="OpenNotebook">
                        <div class="p-0 pt-1 d-flex position-relative" style="height:3.5em; font-size: 0.9em; min-width:9em;">
                            <span class="pt-3">Libreta</span>
                        </div>
                    </MudMenuItem>

                    <MudMenuItem OnClick="() => DeleteFromNotebook()" OnTouch="() => DeleteFromNotebook()">
                        <span style=" font-size: 0.9em;">Quitar de libreta</span>
                    </MudMenuItem>
                }
                else
                {
                    <MudMenuItem OnClick="() => AddToNotebook()" OnTouch="() => AddToNotebook()">
                        <span style=" font-size: 0.9em;">Seleccionar libreta</span>
                    </MudMenuItem>
                }
                <MudMenuItem OnClick="DeleteNote" OnTouch="DeleteNote">
                    <span style=" font-size: 0.9em;">Eliminar nota</span>
                </MudMenuItem>
            </MudMenu>
        </div>
    </div>

    <RadzenHtmlEditor @bind-Value=@Content @onkeypress=@(() => saved = false) ShowToolbar="edicion" Disabled="!edicion" style="min-height:70vh; max-height:70vh; margin-top:1.5em;">
        <RadzenHtmlEditorUndo Title="Deshacer" Shortcut="Ctrl+Z" />
        @* <RadzenHtmlEditorRedo Title="Rehacer" Shortcut="Ctrl+Y" /> *@
        @* <RadzenHtmlEditorSeparator /> *@
        <RadzenHtmlEditorBold Title="Negrita" Shortcut="Ctrl+B" />
        <RadzenHtmlEditorItalic Title="Cursiva" Shortcut="Ctrl+I" />
        <RadzenHtmlEditorUnderline Title="Subrayado" Shortcut="Ctrl+U" />
        <RadzenHtmlEditorStrikeThrough Title="Tachado" />
        <RadzenHtmlEditorAlignLeft Title="Alinear izquierda" />
        <RadzenHtmlEditorAlignCenter Title="Centrado" />
        <RadzenHtmlEditorAlignRight Title="Alinear derecha" />
        <RadzenHtmlEditorJustify Title="Justificado" />
        <RadzenHtmlEditorIndent Title="Aumentar sangría" />
        <RadzenHtmlEditorOutdent Title="Disminuir sangría" />
        <RadzenHtmlEditorOrderedList Title="Lista" />
        @* <RadzenHtmlEditorFontName Title="Fuente" Placeholder="Fuente" /> *@
        @* <RadzenHtmlEditorFontSize Title="Tamaño" Placeholder="Tamaño" /> *@
        @if (!saved)
        {
            <MudIconButton Icon="@Icons.Material.Rounded.Save" Color="Color.Primary" Size="Size.Small" />
        }
    </RadzenHtmlEditor>
}
@code {
    [Parameter]
    public string? Id { get; set; }

    private MudMenu menu;
    private MudColorPicker pickerfondo;
    private MudColorPicker pickertexto;

    private string token;
    private Note Note { get; set; }
    private bool edicion = true;
    private bool saved = true;
    private int notesInNotebook { get; set; } = 0;

    private string Content
    {
        get
        {
            return Note.Content;
        }
        set
        {
            Note.Content = value;
            SaveNote();
        }
    }
    private string Name
    {
        get
        {
            return Note.Name;
        }
        set
        {
            Note.Name = value;
            SaveNote();
        }
    }
    private string BackgroundColor
    {
        get
        {
            return Note.BackgroundColor;
        }
        set
        {
            Note.BackgroundColor = value;
            menu.CloseMenu();
            SaveNote();
        }
    }
    private string TextColor
    {
        get
        {
            return Note.TextColor;
        }
        set
        {
            Note.TextColor = value;
            menu.CloseMenu();
            SaveNote();
        }
    }
    private bool Favorite
    {
        get
        {
            return Note.Favorite;
        }
        set
        {
            Note.Favorite = value;
            SaveNote();
        }
    }
    private bool Bookmark
    {
        get
        {
            return _conn.GetNotebook(Note.Notebook).Bookmark.Equals(Note.Id);
        }
        set
        {
            var notebook = _conn.GetNotebook(Note.Notebook);
            bool bookmarked = _conn.GetNotebook(Note.Notebook).Bookmark.Equals(Note.Id);
            if (bookmarked)
            {
                notebook.Bookmark = "";
            }
            else
            {
                notebook.Bookmark = Note.Id;
            }
            notebook.Modified = DateTime.UtcNow;
            _conn.Conn.Update(notebook);
            SaveNote();
        }
    }
    private bool CanChangePage { get; set; } = false;

    protected async override Task OnInitializedAsync()
    {
        token = await JsRuntime.InvokeAsync<string>("localStorage.getItem", "token");
        if (string.IsNullOrWhiteSpace(Id))
        {
            Note = new Note()
                {
                    Id = Guid.NewGuid().ToString(),
                    User = token,
                    Created = DateTime.UtcNow,
                    Modified = DateTime.UtcNow,
                };

            Id = await LibraryService.CreateNote(token, FirebasePath, Note);
            NavigationManager.NavigateTo($"/editnote/{Id}");
        }
        else
        {
            Note = _conn.GetNote(Id);
        }

        if (!string.IsNullOrEmpty(Note.Notebook))
        {
            var notes = _conn.GetNotes().Where(x => x.Notebook.Equals(Note.Notebook));
            CanChangePage = notes.Count() > 1;
        }
        notesInNotebook = CountNotes();
    }

    private int CountNotes()
    {
        if (string.IsNullOrEmpty(Note.Notebook))
        {
            return 0;
        }
        else
        {
            var notebook = _conn.GetNotebook(Note.Notebook);
            return _conn.GetNotes().Where(x => x.Notebook.Equals(notebook.Id)).Count();
        }
    }

    private void SaveNote()
    {
        Note.Modified = DateTime.UtcNow;
        _conn.GetConnection().Update(Note);
        saved = true;
    }

    private async void DeleteNote()
    {
        bool? result = await DialogService.ShowMessageBox(
            "Eliminar",
            "¿Seguro que quieres eliminar esta nota?",
            yesText: "Confirmar", noText: "Cancelar");
        if (result == true)
        {
            LibraryService.DeleteNote(token, FirebasePath, Note);
            NavigationManager.NavigateTo("library", true);
        }
    }

    private async void ChangePage(bool previous)
    {
        var notes = _conn.GetNotes().Where(x => x.Notebook.Equals(Note.Notebook));
        int nextPosition = (Note.Position + 1) % notes.Count();
        if (previous)
        {
            nextPosition = (Note.Position - 1 + notes.Count()) % notes.Count();
        }
        Note = notes.Where(x => x.Position == nextPosition).First();
        Id = Note.Id;
        CanChangePage = notes.Count() > 1;
        notesInNotebook = CountNotes();
        NavigationManager.NavigateTo($"/editnote/{Id}");
        SynchronizationService.TrySyncLibrary(token);
    }

    private async void OpenNotebook()
    {
        var parameters = new DialogParameters<EditNotebook>();
        parameters.Add(x => x.Id, Note.Notebook);
        MudBlazor.DialogOptions options = new MudBlazor.DialogOptions()
            {
                DisableBackdropClick = true,
                CloseOnEscapeKey = false,
                CloseButton = true,
                MaxWidth = MaxWidth.ExtraSmall,
                FullWidth = true
            };
        DialogService.Show<EditNotebook>("Libreta", parameters, options);
    }

    private async void AddToNotebook()
    {
        var parameters = new DialogParameters<ChooseNotebook>();
        parameters.Add(x => x.Note, Note.Id);
        MudBlazor.DialogOptions options = new MudBlazor.DialogOptions()
            {
                DisableBackdropClick = true,
                CloseOnEscapeKey = false,
                CloseButton = true,
                MaxWidth = MaxWidth.ExtraSmall,
                FullWidth = true
            };
        var dialog = await DialogService.ShowAsync<ChooseNotebook>("Libretas", parameters, options);
        var result = dialog.Result;
        NavigationManager.Refresh(true);
    }

    private void DeleteFromNotebook()
    {
        var notebook = _conn.GetNotebook(Note.Notebook);

        var notesinnotebook = _conn.GetNotes().Where(x => x.Notebook.Equals(Note.Notebook) && !x.Id.Equals(Note.Id) && x.Position > Note.Position).OrderBy(x => x.Position).ToList();
        foreach (var notetoposition in notesinnotebook)
        {
            var position = notetoposition.Position - 1;
            notetoposition.Position = position;
            notetoposition.Modified = DateTime.UtcNow;
            _conn.Conn.Update(notetoposition);
        }

        if (notebook.Bookmark.Equals(Note.Id))
        {
            notebook.Bookmark = "";
        }

        Note.Notebook = "";
        Note.Position = -1;
        notebook.Modified = DateTime.UtcNow;
        Note.Modified = DateTime.UtcNow;
        _conn.Conn.Update(notebook);
        _conn.Conn.Update(Note);
    }
}
